In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<a href= https://github.com/KeithGalli/lego-analysis/tree/master/datasets> Dataset link here <a/>

In [29]:
df = pd.read_csv('lego_datasets/lego_sets.csv')
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [30]:
# Parent_theme dataset
theme = pd.read_csv('lego_datasets/parent_themes.csv')
theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

## 1.What Percentage of all licensed sets ever released were Star Wars themed

In [31]:
theme.loc[theme['name'] =='Star Wars']

    id       name  is_licensed
7  158  Star Wars         True

In [32]:
df['parent_theme'].value_counts()['Star Wars']

609

In [33]:
# No. of rows
df.shape[0]

11986

In [34]:
merged_df = df.merge(theme , left_on='parent_theme', right_on='name')

In [35]:
merged_df.drop(columns='name_y', inplace=True)
merged_df

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [36]:
licensed = merged_df.loc[merged_df['is_licensed'] == True]
licensed

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [51]:
licensed['set_num'].isnull().sum()

153

In [53]:
licensed.dropna(subset=['set_num'], inplace=True)

/tmp/ipykernel_3360/2370114910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  licensed.dropna(subset=['set_num'], inplace=True)

In [54]:
licensed['is_licensed'].unique()

array([ True])

In [55]:
tot_rows = licensed.shape[0]
tot_rows

1179

In [56]:
# merged_df['parent_theme'].value_counts()
star_wars = merged_df['parent_theme'].value_counts()['Star Wars']

In [57]:
star_wars

609

In [58]:
answer = (star_wars/tot_rows)*100
print('Star wars theme has a percentage of ',"%.2f" % answer ,'% of all licenced themes ever released.')

Star wars theme has a percentage of  51.65 % of all licenced themes ever released.

## In which year star war was not the most popular  licenced theme (In terms of number of stes released that year)

In [59]:
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [60]:
licensed['conut'] = 1

/tmp/ipykernel_3360/1422072005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  licensed['conut'] = 1

In [61]:
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed,conut
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True,1
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True,1
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True,1
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True,1
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True,1

In [72]:
grouped_df = licensed.groupby(['year', 'parent_theme'])['conut'].sum().reset_index()
grouped_df.sort_values('conut' , ascending=False).drop_duplicates(['year'])

    year  parent_theme  conut
82  2017  Super Heroes     72
76  2016     Star Wars     61
67  2015     Star Wars     58
59  2014     Star Wars     45
47  2012     Star Wars     43
32  2009     Star Wars     39
52  2013     Star Wars     35
9   2003     Star Wars     32
42  2011     Star Wars     32
36  2010     Star Wars     30
16  2005     Star Wars     28
6   2002     Star Wars     28
2   2000     Star Wars     26
28  2008     Star Wars     23
12  2004     Star Wars     20
24  2007     Star Wars     16
4   2001     Star Wars     14
0   1999     Star Wars     13
20  2006     Star Wars     11

### 2017 was the year where star wars was not the most populer licenced theme

## 3. List sub themes of every parent theme

In [79]:
themes = merged_df.groupby('parent_theme')['theme_name'].unique()
themes

parent_theme
4 Juniors      [Airport, Fire, Supplemental, 4 Juniors, Polic...
Adventurers     [Desert, Jungle, Dino Island, Orient Expedition]
Agents                                    [Ultra Agents, Agents]
Alpha Team     [Mission Deep Sea, Mission Deep Freeze, Alpha ...
Angry Birds                                        [Angry Birds]
                                     ...
Value Packs                                        [Value Packs]
Vikings                                                [Vikings]
Western                              [Indians, Cowboys, Western]
X-Pod                                           [X-Pod, Creator]
Znap                                                      [Znap]
Name: theme_name, Length: 109, dtype: object

In [82]:
# themes[1]
themes['Star Wars']

array(['Star Wars', 'Star Wars Episode 4/5/6', 'Star Wars Episode 1',
       'Star Wars Episode 3', 'Star Wars Clone Wars',
       'Star Wars Episode 2', 'Ultimate Collector Series', 'Minifig Pack',
       'Mini', 'Star Wars Episode 7', 'Star Wars Rogue One',
       'Star Wars Other', 'Planet Series 1', 'Planet Series 2',
       'Star Wars Rebels', 'Planet Series 4',
       'Star Wars Expanded Universe', 'Star Wars Episode 8',
       'Planet Series 3', 'Freemakers'], dtype=object)

In [96]:
themes_dict ={}
for idx, row in themes.items():
    themes_dict[idx] = list(row)
    
themes_dict

{'4 Juniors': ['Airport',
  'Fire',
  'Supplemental',
  '4 Juniors',
  'Police',
  'Traffic',
  'Gas Station',
  'Construction',
  'Spider-Man 2',
  'Pirates'],
 'Adventurers': ['Desert', 'Jungle', 'Dino Island', 'Orient Expedition'],
 'Agents': ['Ultra Agents', 'Agents'],
 'Alpha Team': ['Mission Deep Sea', 'Mission Deep Freeze', 'Alpha Team'],
 'Angry Birds': ['Angry Birds'],
 'Aquazone': ['Aquasharks',
  'Aquanauts',
  'Aquaraiders I',
  'Supplemental',
  'Stingrays',
  'Hydronauts',
  'Aquaraiders II'],
 'Architecture': ['Architecture', 'Skylines'],
 'Atlantis': ['Mini', 'Atlantis'],
 'Avatar': ['Avatar'],
 'Belville': ['Recreation',
  'Fairy-Tale',
  'Playhouse',
  'Golden Land',
  'Hospital'],
 'Ben 10': ['Ben 10'],
 'Bionicle': ['Bionicle',
  'Titans',
  'Tohunga',
  'Turaga',
  'Bohrok Va',
  'Glatorian Legends',
  'Supplemental',
  'Rahaga',
  'Bohrok',
  'Rahkshi',
  'Matoran of Mata Nui',
  'Toa Metru',
  'Vahki',
  'Toa Hagah',
  'Playsets',
  'Toa Hordika',
  'Toa Inika',
  'Protectors',
  'Toa Okoto',
  'Skull Spiders',
  'Stars',
  'Toa',
  'Rahi',
  'Toa Nuva',
  'Bohrok-Kal',
  'Matoran of Metru Nui',
  'Phantoka',
  'Mistika',
  'Warriors',
  'Matoran of Voya Nui',
  'Visorak',
  'Piraka',
  'Toa Mahri',
  'Barraki',
  'Matoran of Mahri Nui',
  'Battle Vehicles',
  'Matoran of Light',
  'Agori',
  'Glatorian'],
 'Boat': ['Boat'],
 'Books': ['Books', 'Train', 'Technic'],
 'Brickheadz': ['Brickheadz'],
 'Building Set with People': ['Building Set with People'],
 'Bulk Bricks': ['Bulk Bricks', 'Castle', 'Technic', 'Train'],
 'Cars': ['Cars'],
 'Castle': ['Lion Knights',
  'Castle',
  'Knights Kingdom I',
  'Fantasy Era',
  'Kingdoms',
  'Crusaders',
  'Black Knights',
  'Wolfpack',
  'Forestmen',
  'Royal Knights',
  'Fright Knights',
  'My Own Creation',
  'Classic Castle',
  'Knights Kingdom II',
  'Black Falcons',
  'Dark Forest',
  'Supplemental'],
 'Classic': ['Basic Set',
  'Classic',
  'Town Plan',
  'Supplemental',
  'HO 1:87 Vehicles',
  'Mosaic',
  'Wooden Box Set',
  'Airport',
  'Farm',
  'Fire',
  'Harbor',
  'Traffic',
  'Building',
  'Train',
  'Construction',
  'Cargo',
  'Jumbo Bricks'],
 'Clikits': ['Clikits'],
 'Collectible Minifigures': ['Collectible Minifigures',
  'Series 9 Minifigures',
  'Series 10 Minifigures',
  'Series 11 Minifigures',
  'The LEGO Movie Series',
  'The Simpsons',
  'Series 12 Minifigures',
  'Series 13 Minifigures',
  'Series 14 Minifigures',
  'Series 15 Minifigures',
  'Disney',
  'Series 16 Minifigures',
  'DFB Minifigures',
  'Series 17 Minifigures',
  'The LEGO Batman Movie',
  'Series 1 Minifigures',
  'Series 2 Minifigures',
  'Series 3 Minifigures',
  'Series 4 Minifigures',
  'Series 5 Minifigures',
  'Series 6 Minifigures',
  'Series 7 Minifigures',
  'Series 8 Minifigures',
  'Team GB'],
 'Creator': ['Model',
  'Creator',
  'Building',
  'Basic Set',
  'Basic Model',
  'Traffic',
  'Creature',
  'Airport',
  'Robot',
  'Construction',
  'Supplemental',
  'Riding Cycle',
  'Recreation',
  'Cargo',
  'Harbor',
  'Castle',
  'Fire',
  'Food & Drink'],
 'Designer Sets': ['Designer Sets', 'Building'],
 'Dimensions': ['Dimensions'],
 'Dino': ['Dino'],
 'Dino 2010': ['Dino 2010'],
 'Dino Attack': ['Dino Attack'],
 'Dinosaurs': ['Dinosaurs'],
 'Discovery': ['Discovery'],
 'Disney': ['Disney'],
 'Disney Princess': ['Disney Princess', nan],
 "Disney's Mickey Mouse": ["Disney's Mickey Mouse"],
 'Duplo': ['Duplo', 'Cars', 'Basic Set'],
 'Educational and Dacta': ['Supplemental',
  'Building Set with People',
  'Boat',
  'Town',
  'Universal Building Set',
  'Educational and Dacta',
  'Learning',
  'Service Packs',
  'Technic',
  'Soft Bricks',
  'WeDo',
  'Mindstorms',
  'Classic',
  'Samsonite',
  'Creator',
  '4 Juniors',
  'Dinosaurs',
  'Space',
  'Castle',
  'Adventurers',
  'eLAB',
  'RCX',
  'Control Lab',
  'NXT'],
 'Elves': ['Elves'],
 'Exo-Force': ['Exo-Force'],
 'FIRST LEGO League': ['FIRST LEGO League'],
 'Fabuland': ['Fabuland',
  'Hospital',
  'Post Office',
  'Harbor',
  'Airport',
  'Fire',
  'Police'],
 'Factory': ['Factory'],
 'Freestyle': ['Freestyle'],
 'Friends': ['Animals', 'Friends', 'Jungle Rescue'],
 'Fusion': ['Fusion'],
 'Gear': ['Game', 'Gear', 'Key Chain'],
 'Ghostbusters': ['Ghostbusters'],
 'Harry Potter': ['Harry Potter',
  "Sorcerer's Stone",
  'Chamber of Secrets',
  'Prisoner of Azkaban',
  'Goblet of Fire',
  'Order of the Phoenix',
  nan],
 'Hero Factory': ['Hero Factory', 'Heroes', 'Villains', 'Vehicles'],
 'Hobby Sets': ['Hobby Sets'],
 'Homemaker': ['Homemaker'],
 'Indiana Jones': ['Kingdom of the Crystal Skull',
  'Raiders of the Lost Ark',
  'Last Crusade',
  'Temple of Doom',
  'Indiana Jones'],
 'Inventor': ['Inventor'],
 'Island Xtreme Stunts': ['Island Xtreme Stunts'],
 'Juniors': ['Juniors',
  'Disney Princess',
  'Nijago',
  'Friends',
  'Marvel Super Heroes'],
 'Jurassic World': ['Jurassic World'],
 'LEGO Brand Store': ['LEGO Brand Store',
  'Pick A Model',
  'Monthly Mini Model Build'],
 'LEGO Exclusive': ['LEGO Exclusive'],
 'LEGO Ideas and CUUSOO': ['LEGO Ideas and CUUSOO'],
 'Legends of Chima': ['Legends of Chima',
  'Speedorz',
  'Legend Beasts',
  'Constraction'],
 'Legoland': ['Castle',
  'Building',
  'Construction',
  'Vehicle',
  'Airport',
  'Hospital',
  'Fire',
  'Police',
  'Space',
  'Harbor',
  'Coast Guard',
  'Gas Station',
  'Legoland'],
 'Legoland Parks': ['Legoland Parks', 'Holiday', 'Bionicle', 'Pirates'],
 'Master Building Academy': ['Master Building Academy'],
 'Mindstorms': ['NXT', 'EV3', 'RCX', 'Mindstorms', 'Star Wars'],
 'Minecraft': ['Minecraft', nan],
 'Minitalia': ['Minitalia'],
 'Mixels': ['Series 1',
  'Series 2',
  'Series 3',
  'Series 4',
  'Series 5',
  'Series 6',
  'Series 7',
  'Series 8',
  'Series 9'],
 'Model Team': ['Model Team'],
 'Modular Buildings': ['Modular Buildings', 'Mini', 'Bricktober'],
 'Monster Fighters': ['Monster Fighters'],
 'Nexo Knights': ['Nexo Knights'],
 'Ninja': ['Ninja'],
 'Ninjago': ['Ninjago', 'Airjitzu'],
 'Other': ['Other'],
 "Pharaoh's Quest": ["Pharaoh's Quest"],
 'Pirates': ['Pirates',
  'Pirates II',
  'Pirates I',
  'Pirates III',
  'Islanders',
  'Imperial Armada',
  'Imperial Soldiers',
  'Imperial Guards'],
 'Pirates of the Caribbean': ['Pirates of the Caribbean'],
 'Power Functions': ['Power Functions'],
 'Power Miners': ['Power Miners'],
 'Prince of Persia': ['Prince of Persia'],
 'Promotional': ['Promotional'],
 'Racers': ['Xalax',
  'Tiny Turbos',
  'World Racers',
  'Ferrari',
  'Supplemental',
  'Drome Racers',
  'Track System',
  'Radio Control',
  'Power Racers',
  'Racers',
  'Speed Racer',
  'Lamborghini',
  'Williams F1'],
 'Rock Raiders': ['Rock Raiders'],
 'Scooby-Doo': ['Scooby-Doo'],
 'Sculptures': ['Sculptures', 'Mosaic'],
 'Seasonal': ['Seasonal',
  'Christmas',
  'Easter',
  'Thanksgiving',
  'Creator',
  'Advent',
  'Advent Sub-Set',
  'Classic Basic',
  'Valentine',
  'City',
  'Halloween',
  'Friends',
  'Pirates',
  'Star Wars',
  'Clikits',
  'Belville',
  'Castle'],
 'Service Packs': ['Service Packs',
  'Train',
  'Technic',
  'Space',
  'Castle',
  'Scala',
  'Town',
  'Pirates',
  'Belville',
  'Aquazone',
  'Western\xa0',
  'Adventurers',
  'Classic Town'],
 'Space': ['Supplemental',
  'Space',
  'Life On Mars',
  'Blacktron II',
  'M:Tron',
  'Classic Space',
  'Futuron',
  'Ice Planet 2002',
  'Spyrius',
  'Exploriens',
  'Unitron',
  'Blacktron I',
  'Space Police II',
  'RoboForce',
  'Insectoids',
  'UFO',
  'Space Police III',
  'Alien Conquest',
  'Galaxy Squad',
  'Mars Mission',
  'Space Police I'],
 'Speed Champions': ['Speed Champions'],
 'SpongeBob SquarePants': ['SpongeBob SquarePants'],
 'Sports': ['Basketball', 'Hockey', 'Sports', 'Soccer', 'Gravity Games'],
 'Spybiotics': ['Spybiotics'],
 'Star Wars': ['Star Wars',
  'Star Wars Episode 4/5/6',
  'Star Wars Episode 1',
  'Star Wars Episode 3',
  'Star Wars Clone Wars',
  'Star Wars Episode 2',
  'Ultimate Collector Series',
  'Minifig Pack',
  'Mini',
  'Star Wars Episode 7',
  'Star Wars Rogue One',
  'Star Wars Other',
  'Planet Series 1',
  'Planet Series 2',
  'Star Wars Rebels',
  'Planet Series 4',
  'Star Wars Expanded Universe',
  'Star Wars Episode 8',
  'Planet Series 3',
  'Freemakers'],
 'Studios': ['Studios', 'Jurassic Park III'],
 'Super Heroes': ['Spider-Man',
  'Super Heroes',
  'Batman',
  'Avengers',
  'Iron Man',
  'Marvel',
  'Constraction',
  'Superman',
  'Justice League',
  'Guardians of the Galaxy',
  'X-Men',
  'Ultimate Collector Series',
  nan],
 'Technic': ['Technic',
  'Throwbot Slizer',
  'Robot',
  'Riding Cycle',
  'Off-Road',
  'Race',
  'RoboRiders',
  'Competition',
  'Construction',
  'Airport',
  'Traffic',
  'Fire',
  'Supplemental',
  'Star Wars',
  'Universal Building Set',
  'Farm',
  'Model',
  'Harbor',
  'Speed Slammers',
  'Expert Builder',
  'Arctic Technic'],
 'Teenage Mutant Ninja Turtles': ['Teenage Mutant Ninja Turtles'],
 'The Hobbit and Lord of the Rings': ['The Two Towers',
  'The Lord of the Rings',
  'An Unexpected Journey',
  'The Desolation of Smaug',
  'The Battle of the Five Armies',
  'The Fellowship of the Ring',
  'The Return of the King',
  'The Hobbit'],
 'The LEGO Movie': ['The LEGO Movie'],
 'The Lone Ranger': ['The Lone Ranger'],
 'Time Cruisers': ['Time Cruisers'],
 'Town': ['Supplemental',
  'Classic Town',
  'Food & Drink',
  'Traffic',
  'Airport',
  'Town Plan',
  'Post Office',
  'Off-Road',
  'Extreme Team',
  'Harbor',
  'Race',
  'Res-Q',
  'Police',
  'Space Port',
  'City',
  'Town',
  'Hospital',
  'Gas Station',
  'Station',
  'Building',
  'Cargo',
  'Construction',
  'Fire',
  'Recreation',
  'Paradisa',
  'Divers',
  'Coast Guard',
  'Arctic',
  'Jungle',
  'Farm',
  'Trains',
  'Launch Command',
  'Outback'],
 'Toy Story': ['Toy Story'],
 'Train': ['Train',
  '4.5V',
  'My Own Train',
  '9V',
  'My Own Creation',
  'World City',
  'RC Train',
  '12V'],
 'Universal Building Set': ['Basic Set',
  'Supplemental',
  'Ferries',
  'Classic Basic',
  'Airport',
  'Basic',
  'Basic Model',
  'Gears'],
 'Universe': ['Universe'],
 'Value Packs': ['Value Packs'],
 'Vikings': ['Vikings'],
 'Western': ['Indians', 'Cowboys', 'Western'],
 'X-Pod': ['X-Pod', 'Creator'],
 'Znap': ['Znap']}